
.bg-header{
    background-color: #EDEAE1;
}
.logo{
    width: 200px;
}

ul li a:hover{
    background-color: #0B5ED7;
    color: white;
    text-decoration: none;
}

body{
    background-color: #837b6e;
}
a{
    text-decoration: none;
    color: #444;
}
li{
    list-style: none;
    text-indent: -0.5px;
}


