*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.bg-header{
    background-color: #EDEAE1;
}
.logo{
    width: 200px;
}



body{
    background-color: red;
}

.card {
    height: 700px;
    margin: 10px;
}


.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
